@import '@/scss/utils';

.navbar {
  &.navbar-light {
    &,
    &-light {
      background-color: theme('colors.napari-primary') !important;
    }
  }

  .navbar-toggler {
    border: none !important;
  }

  .navbar-brand {
    @apply tw-font-bold tw-text-2xl tw-leading-9 tw-no-underline;
  }

  .nav-item {
    a {
      @apply tw-no-underline;

      color: #000 !important;
      font-size: to-rem(17px);
      padding: to-rem(16px) 0 !important;
    }

    &.active a {
      font-weight: 700 !important;
    }

    a > i {
      @apply tw-ml-2;

      font-size: to-rem(14px) !important;
    }

    @media (min-width: 960px) {
      a {
        padding: 0 to-rem(8px) to-rem(20px) !important;
        margin-top: to-rem(20px) !important;
        border-bottom: to-rem(3px) solid transparent;
      }

      &.active a,
      &:hover a {
        border-bottom: to-rem(3px) solid #000;
      }
    }
  }
}

#version_switcher {
  button {
    @apply tw-border-none tw-text-black tw-font-medium tw-text-sm;

    background: none !important;

    &::after {
      display: none;
    }
  }
}

#version_switcher_menu {
  @apply tw-min-w-24;

  .list-group-item {
    @apply tw-px-2 tw-border-l tw-border-r tw-border-b tw-border-napari-dark-gray;

    &:first-child {
      @apply tw-border-t;
    }
  }
}
